/* == Global Resets == */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    font: 400 16px/1.0 "Helvetica Neue", Helvetica, "Open Sans", sans-serif;
}

a {
    color: rgb(34,34,37);
    text-decoration: none;
}

h1 {
    font-size: 50px;
}
img {
    max-width: 100%;
    max-height: 100%;
}



/* == Universal Components == */

#content {
    width: 100%;
    min-height: 100%;
    text-align: center;
}

.container {
    display: inline-block;
    text-align: left;

    width: 100%;
    height: 100%;

    min-width: 400px;
}

.sticky {
    width: inherit;
    height: inherit;
    background-color: inherit;
    box-shadow: inherit;
    position: fixed;
    z-index: 999;
}



/* == Navigation Bar and Footer == */

/* Navigation Bar */
#navbar {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 50px;
    color: white;
    background-color: rgb(34, 37, 34);
    font-size: 16px;
    text-align: center;
    box-shadow: 0px 2px 16px -5px rgba(0,0,0,0.9);
}

/* Navigation Items and Title */
.nav-btn, #navTitle {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-right: -5px;
    width: 150px;
    height: 100%;

    font-weight: 300;
    font-size: 19px;
    text-shadow: 0 1px 1px black;
}

#nav-right-wrapper {
    display: block;
    height: 100%;
    width: 300px;
    text-align: right;
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 0px;
}

#navTitle {
    display: inline-block;
    position: relative;
    width: 60%;
    margin: 0px;
}

.nav-btn-text {
    text-align: center;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 20px;
}

.nav-lang {
    display: inline-block;
    vertical-align: top;
    position: relative;
    height: 100%;
    width: 30px;    
    margin: 0px -2px;
}

.nav-lang .nav-btn-text {
    text-decoration: underline;
    font-size: 14px;
    height: 14px;
}


/* Navigation Links */
#navbar a {
    color: white;
    text-decoration: none;
}

a:hover .nav-btn, .nav-btn-active {
    font-weight: 500;
    background-color: rgba(98, 93, 95, 0.9);
}

a:hover #navTitle, a:hover .nav-lang {
    color: rgb(245, 194, 70);
}

#sub-menu {
    position: absolute;
    height: 200%;
    background: rgba(98, 93, 95, 0.9);
    display: none;
    box-shadow: 0px 2px 16px -5px rgba(0,0,0,0.9);
}

.submenu-btn {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 50%;
}

a:hover .submenu-btn {
    background-color: rgba(38, 33, 35, 0.9);
}

/* Footer Style */
#footer {
    position: relative;
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: rgb(233, 234, 232);
}

#copyright {
    position: absolute;
    width: 100%;
    height: 20px;
    margin: auto;
    top: 0px;
    bottom: 0px;
    font-size: 14px;
    font-weight: 200;
    color: rgb(133, 134, 135);
}



/* == Home Page Style Goes Here  == */

#bannerSlide {
    width: 100%;
    height: 70%;
    min-height: 400px;
    max-height: 800px;
    position: relative;
    background-color: black;
    overflow: hidden;
}

.carousel-slide {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#carouselLayer {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 995;
}

.carousel-arrow {
    display: none;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 60px;
    z-index: 993;
    cursor: pointer;
}

#leftArrow {
    background-size: contain;
    background-repeat: no-repeat;
    left: 20px;
}

#rightArrow {
    background-size: contain;
    background-repeat: no-repeat;
    right: 20px;
}

#carouselTitle {
    width: 70%;
    color: white;
    text-align: right;
    position: absolute;
    bottom: 50px;
    right: 100px;
    font-size: 25px;
    z-index: 999;

    font-family: "Proxima Nova", "helvetica neue", "helvetica" , "arial" , "sans-serif";
    font-weight: 400;
    font-size: 30px;
    text-shadow: 0 1px 1px black;
}

#carouselIndex {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 30px;
    z-index: 998;
    text-align: center;
}

.carousel-index-box {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 10px;
}




/* == About Page Style Goes Here  == */

#biograph {
    width: 100%;
    height: 500px;
    padding: 0;
    margin: 0;

    background: url("../images/Bio.jpg");
    background-size:  cover;
    background-position: left center;
    background-repeat:  no-repeat;
    box-shadow: inset 0px -5px 16px -3px rgba(0,0,0,0.8);
}

#bioContainer {
    display: inline-block;
    width: 100%;
    max-width: 1960px;
    text-align: center;
}

.bio-row {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
    text-align: left;
}

.bio-row-header {
    margin: 10px auto;
    width: 80%;
    height: 50px;
    max-height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(67, 66, 67);
    border-bottom: 1px rgb(207, 208, 209) dotted;
}

.bio-row-body {
    margin: 50px auto;
    width: 80%;
    text-align: left;
    font-size: 20px;
    font-weight: 200;
    line-height: 1.25;
    color: rgb(94, 95, 96);
}

.bio-row-body > table {
    width: 100%;
    margin: 0;
    padding: 0;
}

.bio-row-body tr {
    height: 60px;
    font-size: 19px;
}

.table-column-timeline {
    width: 12%;
}

span.artwork-title {
    font-weight: 500;
}

span.artwork-desciption {
    font-size: 18px;
    font-style: italic;
}

/* == Gallery Page Style Goes Here  == */

#titleSection {
    margin: 20px 0;
    font-size: 30px;
    font-style: italic;
    font-weight: 200;
}

#mainSection {
    margin: 50px 0;
    text-align: center;
    width: 50%;
    display: inline-block;
}

#thumbnailSection {
    width: 90%;
    display: inline-block;
    vertical-align: middle;
    height: 260px;
    position: relative;
}

#thumbnails {
    display: inline-block;
    vertical-align: middle;
}

.thumbnail {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    height: 200px;
    padding: 0 5px;
    cursor: pointer;
}

.thumbnail-arrow {
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
    cursor: pointer;

    width: 50px;
    height: 230px;
    position: relative;
    margin: 0 10px;
}

#leftThumb {
    box-shadow: 3px 0px 5px -4px rgba(0,0,0,0.8);
}

#rightThumb {
    box-shadow: -3px 0px 5px -4px rgba(0,0,0,0.8);
}


.thumbnail-arrow img {
    width: 40%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* == Contact Page Style Goes Here  == */
.required {
    color: rgb(153, 0, 0);
}



/* == Media Queries == */

/* Nav and Font Size Change */
@media (max-width: 950px) {
    #thumbnailSection {
        height: 220px;
    }

    .thumbnail {
        width: auto;
        height: 180px;
        padding: 0 1px;
    }

    .thumbnail-arrow {     
        width: 10px;
        height: 160px;
        padding: 0px 15px;
    }
}

@media (max-width: 800px) {
    .nav-btn {
        width: 115px;
        font-size: 16px;
    }

    .nav-btn-text {
        height: 18px;
    }

    #thumbnailSection {
        height: 220px;
    }

    .thumbnail {
        width: auto;
        height: 140px;
        padding: 0 1px;
    }

    .thumbnail-arrow {     
        width: 10px;
        height: 120px;
        padding: 0px 5px;
    }

}

@media (max-width: 600px) {
    .nav-btn {
        width: 60px;
        font-size: 10px;
    }

    .nav-btn-text {
        font-size: 12px;
    }

    .bio-row-header {
        font-size: 15px;
    }

    .bio-row-body {
        font-size: 15px;
    }

    .bio-row-body tr {
        font-size: 14px;
    }

    span.artwork-desciption {
        font-size: 12px;
    }

    #nav-right-wrapper {
        width: 200px;
        font-size: 12px;
    }

    .nav-lang {
        width: 25px;    
    }

    .nav-lang .nav-btn-text {
        font-size: 10px;
        height: 15px;
    }

    #thumbnailSection {
        height: 160px;
    }

    .thumbnail {
        height: 80px;
        padding: 0px 1px;
    }

    .thumbnail-arrow {
        width: 7px;
        height: 70px;
        padding: 0px 3px;
    }

}


@media (max-width: 400px) {
    .nav-btn {
        width: 60px;
        font-size: 6px;
    }

    .nav-btn-text {
        height: 8px;
    }

    .bio-row-header {
        font-size: 13px;
    }

    .bio-row-body {
        font-size: 13px;
    }

    .bio-row-body tr {
        font-size: 8px;
    }

    span.artwork-desciption {
        font-size: 8px;
    }

    #nav-right-wrapper {
        width: 150px;
        font-size: 10px;
    }

    .nav-lang {
        width: 18px;    
    }

    .nav-lang .nav-btn-text {
        font-size: 8px;
        height: 8px;
    }

    #thumbnailSection {
        height: 160px;
    }

    .thumbnail {
        height: 80px;
        padding: 0px 1px;
    }

    .thumbnail-arrow {
        width: 7px;
        height: 70px;
        padding: 0px 3px;
    }


}
